{{>head}}
{{>header}}
	<div id="content" class="block">
		<div id="wrapper" class="block-group">
			<div id="main" class="block">
				{{>breadcrumbs}}
				<article class="post">
					<h1>О проекте someproject.ru</h1>
					<br>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut vehicula elit. Vivamus commodo id velit sed dictum. Maecenas felis turpis, tempus eu diam non, venenatis fringilla neque. Cras dapibus diam eu tortor dapibus, id condimentum neque eleifend. Proin felis erat, tempor vel lobortis aliquam, sollicitudin nec tellus. Phasellus quis elit ac nibh suscipit tincidunt. Fusce rhoncus enim sapien, at faucibus enim pretium ac. Sed eget vehicula urna, sit amet ornare dolor.</p>

					<p>Mauris bibendum gravida enim, a mattis nunc ullamcorper sit amet. Fusce velit diam, blandit et sapien vel, mollis facilisis magna. Nunc non mauris at leo placerat consectetur a vitae justo. Sed commodo velit interdum, volutpat sapien sit amet, tristique nisl. Morbi eget vehicula nisl. In lacinia molestie venenatis. Etiam luctus eget leo vitae maximus. Maecenas viverra est a tortor scelerisque congue. Sed eget condimentum dui, nec accumsan eros. Sed a libero porttitor, ornare eros sit amet, egestas erat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin et nisi ut leo dapibus gravida. Nulla congue libero eget metus tempor ullamcorper. Suspendisse potenti. Morbi euismod ligula non consequat pretium. Maecenas vitae mollis felis, ac blandit tellus.</p>

					<p>Vestibulum cursus lacinia molestie. Proin elementum ante vel ligula dapibus viverra. Donec mattis quam vitae tellus semper vulputate. Nunc quis commodo magna. Curabitur efficitur justo orci, sed mattis orci fringilla sit amet. Aenean et risus lorem. Aenean at orci turpis. Curabitur molestie erat in urna tempus elementum. Proin semper scelerisque lacus id imperdiet.</p>
				</article>
			</div>
			
			{{>sidebar}}
		</div>
		{{>feedback}}
		{{>hidden}}
	</div>
{{>footer}}
{{>ending}}