{{>head}}
{{>header}}
	<div id="content" class="block">
		<div id="wrapper" class="block-group">
			<div id="main" class="block">
				{{>breadcrumbs}}
				<h1>Как с нами связаться</h1>
				<section class="post">
					<p>Для связи с нами вы можете использовать:</p>
					<ul>
						<li><strong>WhatsApp/Viber/Телефон:</strong> <span class="ename">+7 (909<span>4</span>) 159-05-00</span></li>
						<!--<li><strong>Телеграм:</strong> <a href="" rel="nofollow"></a> или <a href="" rel="nofollow">эта</a> ссылка</li>-->
						<li><strong>Личное сообщение ВК:</strong> <a rel="nofollow" href=""></a></li>
						<li><strong>E-mail:</strong> <span class="ename">mailto@some<span>and</span>project.ru</span></li>
					</ul>
					<p>Или вот эту форму:</p>
					<section id="questions">
						{{>feedb}}
					</section>
				</section>
			</div>
			
			{{>sidebar}}
		</div>
		{{!>feedback}}
		{{>hidden}}
	</div>
{{>footer}}
{{>ending}}