Options -Indexes

<IfModule mod_rewrite.c>

    # rewrite to https
    #RewriteCond %{ENV:HTTPS} !on
    #RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
    
    # rewrite to public
    # !!! dont forget about loop forwarding in the public folder
    RewriteEngine on
    RewriteRule  ^$ public/    [L]
    RewriteRule  (.*) public/$1 [L]
</IfModule>
