<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<title>Личный кабинет | Онлайн школа веб-маркетинга</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	{{{metatags}}}
	<base href="/user/area/">
	<link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet"> 
	<link href='/assets/userarea/normalize.css' rel='stylesheet'>
	<link href="/assets/userarea/skeuos.css" rel="stylesheet">
	<link href="/assets/userarea/overlay.css" rel="stylesheet">
	<link href="/assets/userarea/pocketgrid.css" rel="stylesheet">
	<link rel="stylesheet" href="/assets/trumbowyg/ui/trumbowyg.min.css">
	<link href="/assets/userarea/menu.css" rel="stylesheet">
	<link href="/assets/userarea/font-awesome.css" rel="stylesheet">
	<link href="/assets/userarea/kabinet.css" rel="stylesheet">