	<footer class="block block-group">
		<div id="f1" class="block">
			<div>
				<b>Статьи на сайте</b>
				<ul id="art_list">
					<li><a data-url="/articles/" class="norobotlink">Article 1</a></li>
					<li><a data-url="/articles/" class="norobotlink">Article 2</a></li>
					<li><a data-url="/articles/" class="norobotlink">Article 3</a></li>
					<li><a data-url="/articles/" class="norobotlink">Article 4</a></li>
				</ul>
			</div>
		</div>
		<div id="f2" class="block">
			<div>
				<a href="" rel="nofollow">
					<svg class="logo"><use xlink:href="img/sprite.svg#logo"></use></svg>
				</a>
				<div><a href="user/agreement" rel="nofollow">Пользовательское соглашение</a></div>
				<div><a href="user/privacy" rel="nofollow">Политика конфиденциальности</a></div>
				<div><a href="user/disclaimer" rel="nofollow">Отказ от ответственности</a></div>
				<div><a href="/feedback" rel="nofollow">Связаться с нами</a></div>
			</div>
		</div>
		<div id="f3" class="block">
			<div>
				<b>Наши курсы</b>
				<ul id="ourcur">
					<li><a data-url="/" class="norobotlink">Course 1</a></li>
					<li>Course 2</li>
					<li>Course 3</li>
					<li></li>
				</ul>
			</div>
		</div>
	<div id="bottom" class="block">
		<p>2020 © someproject.ru - sample project</p>
	</div>
	</footer>
	<div id="popup" class="hide">
		{{{errors}}}
		{{{success}}}
	</div>
	{{{rblogs}}}
	<script src="main.js"></script>