{{>head}}

</head>

<body>
    
{{>header}}
	<div id="content" class="block">
		<div id="wrapper" class="block-group">
			<div id="main" class="block">
				{{>breadcrumbs}}
				<h1>Регистрация нового пользователя</h1>
				<form id="signup-form" name="regform" action="user/reg" method="post">
					<p>
						<input type="text" name="name" placeholder="Ваше имя">
					</p>
					<p>
						<input type="text" name="email" placeholder="Электронная почта">
					</p>
					<p>
						<input type="password" name="pass" placeholder="Пароль">
					</p>
					<p>
						<input type="password" name="pass2" placeholder="Повтор пароля">
					</p>
					{{>captcha}}
					<input type="text" class="hide" name="captcha" placeholder="Введите текст с картинки">
					<input type="text" class="hide" name="addr" placeholder="Введите ваш адрес">
					<p>
						Согласиться с <a href="user/agreereg" target="_blank" rel="nofollow">условиями</a> использования личного кабинета:
					</p>
							<div class="button r centered" id="button-1">
								<input type="checkbox" name="terms" class="checkbox" value="yes">
								<div class="knobs"></div>
								<div class="layer"></div>
							</div>
					<div id="err"></div>
					<p>
						<input class="bright_but invisible" id="reg-submit" type="submit" name="knop" value="Регистрация">
					</p>
				</form>
			</div>
			
			{{>sidebar}}
		</div>
		{{>feedback}}
		{{>hidden}}
	</div>
{{>footer}}
	<script src="assets/js/validate.min.js"></script>
	<script>
	
		var validator = new FormValidator('regform', [{
			name: 'name',
			display: '"Ваше имя"',
			rules: 'required'
		}, {
			name: 'email',
			display: '"Электронная почта"',
			rules: 'required|valid_email'
		}, {
			name: 'pass',
			display: '"Пароль"',
			rules: 'required|min_length[6]'
		}, {
			name: 'pass2',
			display: '"Повтор пароля"',
			rules: 'required|matches[pass]'
		}, {
			name: 'terms',
			display: '"Условия"',
			rules: 'required'
		}], function(errors, event) {
			if (errors.length > 0) {
				var errorString = '';

				for (var i = 0, errorLength = errors.length; i < errorLength; i++) {
					errorString += errors[i].message + '<br />';
				}
				document.getElementById('err').innerHTML = '<p id="errors-place">' + errorString + '</p>';
				
				if (event && event.preventDefault) {
				event.preventDefault();
				} else if (event) {
					event.returnValue = false;
				}
			}else{
				document.getElementById('err').innerHTML = '';
			}
		});
	
	</script>
{{>ending}}