{{>head}}

</head>

<body>
    
{{>header}}
	<div id="content" class="block">
		<div id="wrapper" class="block-group">
			<div id="main" class="block">
				<nav id="breadcrumbs">
					<ul itemscope itemtype="http://schema.org/BreadcrumbList">
						<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
							<a itemprop="item" href="/"><span itemprop="name" class="hide">Главная </span><svg class="home"><use xlink:href="img/sprite.svg#homepage"></use></svg></a>
							<meta itemprop="position" content="1" />
						</li>
						<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
							<span itemprop="name" id="not-active">Политика использования файлов cookie</span>
							<meta itemprop="position" content="4" />
						</li>
					</ul>
				</nav>
				<h1>Политика использования файлов cookie</h1>
				<p><strong>Что такое файл cookie</strong></p>
				<p>Файлы cookie &mdash; это текстовые файлы, содержащие небольшой объем информации, которые отправляются вашему браузеру и хранятся на компьютере, мобильном телефоне или другом устройстве, с которого пользователи заходят на сайт. Файлы cookies отправляют информацию на сайт при каждом их посещении. Например, они позволяют сохранять настройки безопасного поиска, показывать полезные рекламные объявления, подсчитывать количество посещений страницы, регистрироваться в службах сайта Онлайн школы веб-маркетинга "someproject.ru" (далее - Сайта) и защищать данные пользователей. Файлы cookies могут быть постоянными файлами cookies и храниться в компьютере, пока пользователи не удалят их, или временными (такие файлы cookies называются сессионными), то есть сохраняющимися только до закрытия браузера. Кроме того, файлы cookies подразделяются на основные (они устанавливаются непосредственно посещаемым сайтом) и сторонние (устанавливаются другими сайтами).</p>
				<p><strong>Используемые файлы cookies и их назначение</strong></p>
				<p>Ниже приведена классификация файлов cookies, используемых Сайтом, в соответствии с руководством по файлам cookies, составленным Международной торговой палатой:</p>
				<p><strong>Строго необходимые cookie:</strong></p>
				<p>Эти файлы cookie требуются для перемещения по сайту и использования запрашиваемых услуг &mdash; например, для доступа к защищенным страницам. Файлы cookie этого типа применяются при регистрации пользователей и входе в систему. Без них становятся недоступны запрашиваемые пользователем услуги. Данные файлы cookie являются основными и могут быть как постоянными, так и временными. Иными словами, без этих файлов cookie Сайт не работает должным образом.</p>
				<p><strong>Эксплуатационные cookie:</strong></p>
				<p>Эти файлы cookie собирают сведения об использовании сайта &mdash; например, о наиболее часто посещаемых страницах. Данные файлы не получают личную информацию конкретных пользователей. Все сведения, собранные данными файлами cookie, носят статистический характер и являются анонимными.</p>
				<p><strong>Цели использования этих cookie:</strong></p>
				<p>получение статистики использования сайтов;</p>
				<p>&nbsp;</p>
				<p><strong>Функциональные cookie:</strong></p>
				<p>Благодаря этим файлам cookie происходит запоминание предоставленной вами информации (такой, как IP, имя пользователя, язык или страна проживания), что расширяет возможности определенных функций и делает их более персонализированными. Кроме того, эти cookie используются для предоставления запрашиваемых вами услуг &mdash; например, просмотра видео или комментирования в блоге. Данные файлы используют анонимную информацию и не отслеживают ваши действия на других сайтах.</p>
				<p><strong>Цели использования этих cookie:</strong></p>
				<p>запоминание сведений о том, предоставлялась ли вам какая-либо услуга ранее;</p>
				<p>повышение качества взаимодействия с сайтом в целом путем запоминания выбранных предпочтений.</p>
				<p>Данные файлы cookie бывают постоянными и временными, а также могут относиться как к основным, так и к сторонним cookie. Они запоминают предоставленную вами информацию, повышая эффективность взаимодействия с сайтом.</p>
				<p>&nbsp;</p>
				<p><strong>Cторонние cookie</strong></p>
				<p>Некоторые страницы Сайта содержат материалы таких сервисов, как YouTube и Facebook. Обратите внимание, что мы не можем повлиять на файлы cookie, используемые этими сервисами. Дополнительные сведения о них можно узнать, посетив соответствующий сторонний сайт.</p>
				<p><strong>Управление файлами cookie и их удаление.</strong></p>
				<p>Заблокировать или удалить файлы cookie, а также ограничить их действие можно в настройках вашего браузера. Необходимые для этого действия в разных браузерах могут отличаться.</p>
				<p>Инструкции для популярных браузеров:</p>
				<p>Internet Explorer http://support.microsoft.com/kb/196955</p>
				<p>Firefox https://support.mozilla.org/ru/kb/udalenie-kukov-dlya..</p>
				<p>Google Chrome https://support.google.com/chrome/answer/95647?hl=ru</p>
				<p>Opera http://help.opera.com/Windows/11.50/ru/cookies.html</p>
				<p>Safari https://support.apple.com/kb/PH21411?locale=ru_RU</p>
				<p>Safari iOS (iPhone, iPad, iPod touch) https://support.apple.com/ru-ru/HT201265</p>
				<p>Для получения инструкций также можно воспользоваться функцией справки в своем браузере. Дополнительные сведения об управлении файлами cookie и их удалении в различных браузерах есть на странице http://www.aboutcookies.org .</p>
			</div>
		</div>
		{{>feedback_hidden}}
		{{>hidden}}
	</div>
{{>footer}}
{{>ending}}